<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry Point</title>
    <link type="text/css" rel="stylesheet" href="/assets/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100;200;300;400;700&display=swap"
    rel="stylesheet" />
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/gh/navidmafi/mycsslib@1.1/lib.css" />
  
</head>
<body class="nospacing">
    <h1 class="tc-white fw-400">JolStreamer Server v0.9</h1>
    <table class="wd-80pr mx-auto">
        <tr>
            <td>WSS</td>
            <td>SFU</td>
            <td>RTC Cap</td>
            <td>ICE</td>
            <td>NGINX</td>
            <td>STUNs</td>
            <td>TURNs</td>
        </tr>

        <tr>
            <td class="tc-lime">OK</td>
            <td class="tc-lime">OK</td>
            <td class="tc-lime">OK</td>
            <td class="tc-lime">OK</td>
            <td class="tc-lime">OK</td>
            <td class="tc-lime">OK</td>
            <td class="tc-red">Standby</td>

        </tr>
    </table>
   
    <div class="mx-auto text-center py-2r">
        <a href="vbrod" class="mx-2r">
            <button class="bg-white tc-black noborder px-1r py-05r brad-5 wd-10pr">Broadcaster</button>
        </a>
        <a href="rcvr" class="mx-2r">
            <button class="bg-white tc-black noborder px-1r py-05r brad-5 wd-10pr">Receiver</button>
        </a>

    </div>
    <footer class="nospacing text-center wd-100pr py-05r">This is a public beta.</footer>

</body>
</html>