<!--

                        ,////,
                        /// 6|
                        //  _|
                       _/_,-'
                  _.-/'/   \   ,/;,
               ,-' /'  \_   \ / _/
               `\ /     _/\  ` /
                 |     /,  `\_/
                 |     \'
     /\_        /`      /\
   /' /_``--.__/\  `,. /  \
  |_/`  `-._     `\/  `\   `.
            `-.__/'     `\   |
                          `\  \
                            `\ \
                              \_\__
                               \___)
    
    Davidamo davidam
    man ye foozolo didam.... =D
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100;200;300;400;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/navidmafi/mycsslib@1.1/lib.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Viewer</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/notif.css" />
  <script src="/assets/scripts/notif.js"></script>
</head>

<body class="nospacing">

  <div id="intro" class="animation flex-both-center wd-100pr hidden">
    <div class="patterns">
      <svg width="100vw" height="95%">

     <text x="50%" y="60%"  text-anchor="middle"  >
       CloudConnect
     </text>
     </svg>
    </div>
  </div>

  <div class="text-center">
    <div class="hdrbar px-1r brad-10 py-05r trans-200" id="headerbar">
      <h1 class="tc-white nospacing fw-400">Joltogether<span class="fs-10r fw-400">® v0.63 (Dev) </span> </h1>
    </div>
    <!--src="https://file-examples-com.github.io/uploads/2017/04/file_example_MP4_1280_10MG.mp4"-->
    <video autoplay id='video'></video><br>
    <div class="connection">
      <div id="connectionloader" class="flex-both-center hidden">
        <div class="loader"></div> 
      <h3 class="tc-white mx-1r">Connecting...</h3>
      </div> <br>
      <button id="joinbutton" class="btn-join trans-100 bg-white noborder brad-5 px-1r py-05r fs-11r fw-400">Join
        broadcast</button>
    </div>

  </div>
  <div class="mediaProps flex-horizontal px-05r py-05r text-center fs-08r brad-5">
    <span class="material-icons md-24 tc-red my-auto">monitor</span>
    <span class="flex-both-center fw-700 text-left">
      <div class="flex-vertical">
        <span id="videoqualityPlaceholder">MediaInfo</span>
      <span id="videobitratePlaceholder">Unknown</span>
      <span id="audiobitratePlaceholder">Unknown</span>
      </div>
    </span>
  </div>
  <div class="toolsbtm px-1r brad-10 py-05r trans-200" id="btmbar">
    <button id="reconnect" class="noborder bg-none tc-white nospacing"><span class="material-icons md-36">sync_problem</span></button>
    <button id="30bwd" class="noborder bg-none tc-white nospacing"><span class="material-icons md-36">replay_30</span></button>
    <button id="pausebtn" class="noborder bg-none tc-white nospacing"><span class="material-icons md-36">play_arrow</span></button>
    <button id="30fwd" class="noborder bg-none tc-white nospacing" disabled><span class="material-icons md-36">forward_30</span></button>
    <button id="fullscreenbtn" class="noborder bg-none tc-white nospacing"><span class="material-icons md-36">aspect_ratio</span></button>
  </div>
  <footer class="nospacing text-center wd-100pr py-05r">
    <div class="text-left">
      <span class="mx-05r">Not connected</span>
      <span class="mx-05r">Down : 0KB/s</span>
      <span class="mx-05r">Up : 0KB/s</span>
      <span class="mx-05r">Usage : 0KB</span>

    </div>
    <div>
      <span>This is a developer preview.</span>
    </div><div>
    <span>This is a developer preview.</span>
  </div>

  </footer>
  <script src='/assets/scripts/receiver.js'></script>

</body>

</html>