<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broadcaster</title>
    <link rel="stylesheet" href="/assets/styles/main.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100;200;300;400;700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/assets/styles/notif.css" />
    <script src="/assets/scripts/notif.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/navidmafi/mycsslib@1.1/lib.css" />

</head>

<body class="nospacing">
    <div class="text-center">
        <div class="hdrbar px-1r brad-10 py-05r">
            <h1 class="tc-white nospacing fw-400">Joltogether<span class="fs-10r fw-400">® v0.63 (Dev) </span> </h1>
        </div>
        <!--src="https://file-examples-com.github.io/uploads/2017/04/file_example_MP4_1280_10MG.mp4"-->
        <video autoplay id='video' muted></video><br>
        <div class="connection">

            <form class="streamoptions px-2r py-2r brad-10" action="#" onsubmit="return startBroadcast(this)">
                <div class="selector tc-white hidden">
                    <div>
                        <input type="radio" name="mediatype" id="displayMedia" checked>
                        <label for="displayMedia">Display Media</label>
                    </div>

                    <div>
                        <input type="radio" name="mediatype" id="userMedia">
                        <label for="userMedia">User Media</label>
                    </div>
                </div>
                <div class="selector wd-100pr">

                    <span class="tc-white">Video Quality : </span>
                    <select id="videoQuality" required>
                        <option value="" selected disabled hidden>Select Video Quality</option>
                        <option value="360">SD 360p</option>
                        <option value="480">SD 480p</option>
                        <option value="576">SD 576p</option>
                        <option value="720">HD 720p</option>
                        <option value="1080">FHD 1080p</option>
                        <option class="tc-red" value="1440">QHD 1440p</option>
                        <option class="tc-red" value="2160">UHD 2160p</option>
                    </select>
                </div> <br>
                <div class="selector wd-100pr">
                    <span class="tc-white">Video Framerate : </span>
                    <select id="videoFPS" required>
                        <option value="" selected disabled hidden>Select Framerate</option>
                        <option value="5">5 FPS</option>
                        <option value="20">20 FPS</option>
                        <option value="30">30 FPS</option>
                        <option value="40">40 FPS</option>
                        <option value="50">50 FPS</option>
                        <option class="tc-red" value="60">60 FPS</option>
                        <option class="tc-red" value="80">80 FPS</option>
                        <option class="tc-red" value="120">120 FPS</option>
                    </select>
                </div><br>
                <div class="selector wd-100pr">
                    <span class="tc-white">Video Bitrate : </span>
                    <select id="videoBitrate" required>
                        <option value="" selected disabled hidden>Select Bitrate</option>
                        <option value="50">50 Kbps</option>
                        <option value="1000">1000 Kbps</option>
                        <option value="2000">2000 Kbps</option>
                        <option value="5000">5000 Kbps</option>
                        <option value="8000">8000 Kbps</option>
                        <option value="12000">12 Mbps</option>
                        <option value="16000">16 Mbps</option>
                    </select>
                </div>
                <br>
                <div class="selector wd-100pr">
                    <span class="tc-white">Audio Bitrate : </span>
                    <select id="audioBitrate" required>
                        <option value="" selected disabled hidden>Select Bitrate</option>
                        <option value="5">5 Kbps</option>
                        <option value="96">96 Kbps</option>
                        <option value="128">128 Kbps</option>
                        <option value="256">256 Kbps</option>
                        <option value="320">320 Kbps</option>
                        <option value="384">384 Kbps</option>
                        <option value="384">448 Kbps</option>
                    </select>
                </div>
                <input type="text" id="token" class="my-05r fs-10r wd-80pr " placeholder="Enter client token" autocomplete="off" required>
                <div id="connectionloader" class="flex-both-center hidden">
                    <div class="loader"></div>
                    <h3 class="tc-white mx-1r">RTC_REQ_PERM</h3>
                </div>
                <input type="submit" id="start-stream"
                class="btn-join trans-100 bg-white noborder brad-5 my-05r px-1r py-05r fs-11r fw-400" value="Start Broadcasting">

            </form>
            
            <button id="end-stream"
                class="btn-join trans-100 bg-white noborder brad-5 px-1r py-05r fs-11r fw-400 hidden">Stop
                Broadcasting</button>
        </div>
        <footer class="nospacing text-center wd-100pr py-05r">This is a developer preview.</footer>
    
    </div>


    <script src='/assets/scripts/broadcaster.js'></script>

</body>

</html>