@use "globals" as *;
@use "colors" as *;

.connection {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  & input[type=submit]:hover {
    background-color: $Gray-70;
    color: $Milkwhite
  }
  & .loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
}

footer {
  background-color: rgb(0, 48, 92);
  color: $Milkwhite;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  line-height: 1;
  display: flex;
  & div {
    width: 33%;
  }
}

video {
  height: 95vh;
  max-width: 98vw;
}
table, th, td {
  border: 3px double white;
  border-collapse: collapse;
  color: white;
  padding: 10px;
}
.hdrbar {
  background-color: $Gray-50;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toolsbtm {
  background-color: $Gray-50;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  & button {
    & span{
      vertical-align: middle;
    }
    margin:0 5px
  }
}
.mediaProps {
  position: absolute;
  top:20px;
  left: 20px;
  color: white;
  background-color: #2c2f33;
  gap:1rem;
}
.streamoptions {
  width: 300px;
  background-color: $Gray-50;
  & .selector {
    display: flex;
    justify-content: space-between;
  }
  & select {
    background-color: $Gray-70;
    color : $Milkwhite;
    border: 1px $Milkwhite solid;
    border-radius: 3px;
    font-family: 'M PLUS 2';
    padding: 5px;
  }
  & option {

    font-family: 'M PLUS 2';
    background-color: $Gray-50;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.animation {
  background-color: $Gray-95;
  position: absolute;
  z-index: 50;
  transition: 300ms;
  animation: fadetobg 3s linear 0.5s 1 normal forwards;
  & .patterns {
    height: 100vh;
  }
  & svg text {
    visibility: hidden;
    font-family: 'M PLUS 2';
    stroke: #ffffff;
    font-size: 150px;
    font-weight: 700;
    stroke-width: 3;

    animation: textAnimate 3s running 0.5s 1 normal forwards;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }

}


//ANIMATIONS
@keyframes textAnimate {
  0% {
    visibility: visible;

    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: #429EFF
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: #429EFF;
    visibility: visible;

  }

}
@keyframes fadetobg {
  0% {
    background-color: $Gray-95;
  }
  100% {
    background-color: $Gray-30;
  }
}
