@use "colors"as *;

body {
  background-color: $Gray-30;
  font-family: 'M PLUS 2';
}
::-webkit-media-controls {
    display:none !important;
  }
input {
  font-family: 'M PLUS 2';
}
button,input[type=submit] {
  font-family: 'M PLUS 2';
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    color: $Gray-90;
  }
}
/* Rules for sizing the icon. */
.material-icons.md-18 {
    font-size: 18px;
  }
  .material-icons.md-24 {
    font-size: 24px;
  }
  .material-icons.md-36 {
    font-size: 36px;
  }
  .material-icons.md-48 {
    font-size: 48px;
  }
  
